<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <section>
        <div class="maindiv">
            <div class="formContainer">
                <form action="/signup" method="POST" id="form">
                    <h3>SignUp Here</h3>
                    <label for="email">Email</label>
                    <% if( message != undefined ){ %>
                    <input type="text" name="email" id="email" class="inputbox" value="<%= message %>"
                        placeholder="ex: example@gmail.com">
                    <% }else{ %>
                    <input type="text" name="email" id="email" class="inputbox" placeholder="ex: example@gmail.com">
                    <% } %>

                    
                    <% if(error.includes("emailerr")){ %>
                    <p class="pmsg">invalid email</p>
                    <% }else if(error.includes("userexist")){ %>
                    <p class="pmsg">email already registered</p>
                    <% }else{ %>
                    <p class="pmsg"></p>
                    <% } %>
                      
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="inputbox"
                        placeholder="ex: Enter Password">
                    <% if(error.includes("passerr")){ %>
                    <p class="pmsg">password length must range between 4 to 20</p>
                    <% }else{ %>
                    <p class="pmsg"></p>
                    <% } %>

                    <label for="cpassword">Confirm Password</label>
                    <input type="password" name="cpassword" id="cpassword" class="inputbox"
                        placeholder="ex: Confirm Password">
                    <% if(error.includes("passmatcherr")){ %>
                    <p class="pmsg">password did not match</p>
                    <% }else{ %>
                    <p class="pmsg"></p>
                    <% } %>

                    <input type="hidden" name="redirect" value="<%= redirect %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    
                    <button id="btn">Signup</button>
                    <a href="/?redirect=<%= redirect %>">Already have Account! Login</a>
                    
                </form>
            </div>
            <!-- <div id="right"><%- include('./includes/svg/loginbk') %></div> -->
        </div>

    </section>
</body>
</html>